
nav {
    top: 0;
    position: fixed;
    width: 100vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-background-color);
    z-index: 1;
    min-height: 45px;
    height: 10vh;
}

nav .mobile-menu, #hamburger {
    display: none;
    cursor: pointer;
}

nav menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-right: 1em;
}

.socials {
    display: inline-flex;
}

.socials > * {
    padding: 0 0.2em;
}

nav menu li {
    padding: 0.5em;
    box-sizing: border-box;
    background-color: var(--navbar-background-color);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.address input {
    display: none;
}

.address #addressA {
    display: none;
}

.address input:checked ~ #addressA {
    display: block;
    position: absolute;
    background-color: #F2F3F4;
    border: 1em #F2F3F4;
    border-radius: 0.5em;
}

.icon {
    height: 1.5em;
    width: 1.5em;
}

.icon.location:hover {
    box-shadow: 2px -1px 4px black;
    border-radius: 12px;
}

.icon.facebook:hover {
    box-shadow: 2px -1px 4px black;
    border-radius: 12px;
}

.icon.insta:hover {
    box-shadow: 2px -1px 4px black;
    border-radius: 8px;
}

.nav-info {
    display: inline-flex;
    z-index: 0;
}

.nav-info h1 {
    padding: 0em 1em;
    align-self: center;
}

.nav-info .pn {
    align-self: center;
}
@media screen and (max-width: 768px) {
    .nav-info {
        z-index: 1;
    }

    .nav-info {
        display: inline-flex;
    }
    
    .nav-info h1 {
        padding: 0em 1em;
        font-size: large;
    }
    
    .nav-info .pn {
        align-self: center;
    }

    .pn {
        font-size: 0.75em;
    }

    nav {
        position: fixed;
        top: auto;
        bottom: 0;
        transition: ease-in-out;
        display: inline-flex;
        flex-direction: row-reverse;
        background-color: var(--navbar-background-color);
    }

    nav h1 {
        padding-right: 0.3em;
    }

    nav .mobile-menu {
        display: inline-block;
        color: #000000;
        font-style: normal;
        font-size: 1.2em;
        padding: 0.5em;
    }

    nav menu li {
        display: block;
        border-top: 1px solid #333333;
    }

    nav menu {
        display: none;
        padding: 0;
    }

    nav menu.mobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 100%;
        z-index: 0;
        left: 0;
        box-shadow: 3px 2px 3px grey;
    }

    nav menu.mobile::after {
        height: 1em;
        width: 100%;
        background: var(--navbar-background-color);
        content: '';
        position: absolute;
        bottom: -6px;
        left: 0;
        z-index: 0;
    }
}