body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    --height-pic-container: 300px;
    --width-pic-container: auto;
    overflow: hidden;
}

header h1 {
    text-decoration: underline;
}

nav {
    width: 50vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    min-height: 50vh;
    width: 95vw;
}

.banner {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mapouter{
    position:relative;
    text-align:right;
    height:300px;
    width: auto
}

.gmap_canvas {
    overflow:hidden;
    background:none;
    height:300px;
    width:auto;
}

.left-banner {
    margin-right: 5px;
}

/*.left-banner img {
    border: 3px solid black;
}*/

.left-banner img:not(:nth-of-type(1)) {
    margin-top: 5px;
}

.right-banner {
    position: fixed;
    right: 0;
    top: 30%;
    margin-left: 5px;
}

@-webkit-keyframes cf4FadeInOut {
    0% { /* 0 */
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
    8% { /* (a/t*100%) */
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
    }
    17% { /* (a+b)/t*100% */
        opacity: 1;
    }
    35% { /* 100%-(b/t*100%) */
        opacity: 0;
    }
    100% { /* 100% */
        opacity: 0;
    }
}

@-moz-keyframes cf4FadeInOut {
    0% { /* 0 */
        opacity: 0;
        -moz-animation-timing-function: ease-in;
    }
    8% { /* (a/t*100%) */
        opacity: 1;
        -moz-animation-timing-function: ease-out;
    }
    17% { /* (a+b)/t*100% */
        opacity: 1;
    }
    35% { /* 100%-(b/t*100%) */
        opacity: 0;
    }
    100% { /* 100% */
        opacity: 0;
    }
}

@-o-keyframes cf4FadeInOut {
    0% { /* 0 */
        opacity: 0;
        -o-animation-timing-function: ease-in;
    }
    8% { /* (a/t*100%) */
        opacity: 1;
        -o-animation-timing-function: ease-out;
    }
    17% { /* (a+b)/t*100% */
        opacity: 1;
    }
    35% { /* 100%-(b/t*100%) */
        opacity: 0;
    }
    100% { /* 100% */
        opacity: 0;
    }
}

@keyframes cf4FadeInOut {
    0% { /* 0 */
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% { /* (a/t*100%) */
        opacity: 1;
        animation-timing-function: ease-out;
    }
    17% { /* (a+b)/t*100% */
        opacity: 1;
    }
    35% { /* 100%-(b/t*100%) */
        opacity: 0;
    }
    100% { /* 100% */
        opacity: 0;
    }
}

.rotating-imgs {
    width: 100vw;
    height: 92vh;
}

.rotating-imgs h1 {
    text-align: center;
    top: 40%;
    left: 40%;
    position: absolute;
    color: white;
}



.rotating-imgs img {
    position: absolute;
    width: inherit;
    height: inherit;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    z-index: -1;

    -moz-animation-name: cf4FadeInOut;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 24s;

    -moz-animation-name: cf4FadeInOut;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 24s;

    -o-animation-name: cf4FadeInOut;
    -o-animation-iteration-count: infinite;
    -o-animation-duration: 24s;

    animation-name: cf4FadeInOut;
    animation-iteration-count: infinite;
    animation-duration: 24s;
}

/* anim delay either t/n or a+b, t=(a+b)*n; where a is presentation time for img
                                                  b is duration of cross fade
                                                  n is num of imgs*/
.rotating-imgs > img:nth-of-type(2) {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;
}
.rotating-imgs > img:nth-of-type(3) {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    animation-delay: 12s;
}
.rotating-imgs > img:nth-of-type(4) {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    animation-delay: 18s;
}

.tagline {
    font-size: medium;
}

.tagline::before {
    content:
}